/* основний колір тексту #212121 */
/* колір тексту параграфів #757575 */
/* колір наведення-акценту #2196F3 */
/* білий #FFFFFF */

:root {
	--primary-text-color: #212121;
	--second-text-color: #757575;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--hero-footer-bcg: #2f303a;
	--logo-primary-color: #000000;
	--section-team-bcg: #f5f4fa;
	--address-list-color: rgba(255, 255, 255, 0.6);
	--portfolio-box: #eeeeee;
	--btn-hero-accent-color: #188ce8;
	--socials-icon-primary-color: #afb1b8;
	--border-modal-color: rgba(33, 33, 33, 0.2);
	--animation-base: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--animation-overlay: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--animation-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--animation-bcg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--animation-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	background-color: var(--primary-white-color);
	font-family: "Roboto", Verdana, sans-serif;
	color: var(--primary-text-color);
	letter-spacing: 0.03em;
}

/* глобальне скидання стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

/* прибираємо підкреслення посилання */
.link {
	text-decoration: none;
}

/* прибираємо маркери списку */
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	/* background: rgb(244, 244, 196); */
	outline: 1px solid tomato;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* -----------------HEADER----------------- */

.header-main {
	border-bottom: 1px solid #ececec;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 93px;
}

.logo {
	font-family: "Raleway", Verdana, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	color: var(--logo-primary-color);
}

.logo-web {
	color: var(--accent-color);
}

.navigate {
	display: flex;
	align-items: center;
	gap: 50px;
}

.nav-list {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--primary-text-color);

	position: relative;

	transition: var(--animation-color);
}

.nav-list.curent {
	color: var(--accent-color);
}

.curent::after {
	content: "";

	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;

	position: absolute;
	bottom: 0;
}

.nav-list:hover,
.nav-list:focus {
	color: var(--accent-color);
}

.nav-list,
.header-list-contact {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}

.contact-list {
	display: flex;
	margin-left: auto;
	gap: 50px;
}

.header-list-contact {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--second-text-color);

	transition: var(--animation-color);
}

.header-list-contact:hover,
.header-list-contact:focus {
	color: var(--accent-color);
}

.header-list-contact {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-icon {
	fill: currentColor;
}

/* -----------------HEADER----------------- */
/* -----------------HERO----------------- */

.hero {
	background: var(--hero-footer-bcg);

	padding-top: 200px;
	padding-bottom: 200px;

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero-bcg-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	color: var(--primary-white-color);

	width: 696px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.hero-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	cursor: pointer;
	color: var(--primary-white-color);
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;

	padding: 10px 32px;

	min-width: 216px;
	min-height: 50px;

	transition: var(--animation-bcg);
}

.hero-btn:hover,
.hero-btn:focus {
	background: var(--btn-hero-accent-color);
}

.btn-container {
	display: flex;
	justify-content: center;
}

/* -----------------HEADER----------------- */
/* -----------------Section features----------------- */

.features {
	display: flex;
	align-items: flex-start;
	/* justify-content: space-between; */
	gap: 30px;
}

.feature-item {
	width: 270px;
}

.feature-icon {
	display: flex;
	height: 120px;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	text-align: center;
	background-color: var(--section-team-bcg);
	border-radius: 4px;
}

.features-title {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	padding-bottom: 10px;
}

.features-text {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	color: var(--second-text-color);
}

/* -----------------Section features----------------- */
/* -----------------Section projects, teams----------------- */

.projects {
	padding-top: 0;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;

	margin-bottom: 50px;
}

.projects-list {
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
	gap: 30px;
}

.projects-item {
	position: relative;
}

.projects-text {
	position: absolute;
	bottom: 0;

	width: 370px;
	padding-top: 27px;
	padding-bottom: 27px;

	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-align: center;
	text-transform: uppercase;
	color: var(--primary-white-color);
	background: rgba(47, 48, 58, 0.8);
}

.teams {
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
	gap: 30px;
}

.team-card {
	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-caption {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;

	margin-bottom: 10px;
}

.team-position {
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	color: var(--second-text-color);
	padding-bottom: 16px;
}

.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: var(--primary-white-color);
	color: var(--socials-icon-primary-color);
	/* outline: 2px solid red;
	outline-offset: -2px; */

	transition: var(--animation-bcg);
}

.socials-icon {
	fill: currentColor;

	transition: var(--animation-color);
}

.socials-link:hover,
.socials-link:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.section-team {
	background: var(--section-team-bcg);
}

/* -----------------Section projects, teams----------------- */
/* -----------------Section clients----------------- */

.clients {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.clients-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--socials-icon-primary-color);
	border-radius: 4px;
	background-color: var(--primary-white-color);
	color: var(--socials-icon-primary-color);

	transition: var(--animation-bcg);
}

.clients-icon {
	fill: currentColor;

	transition: var(--animation-color);
}

.clients-item {
	border: 1px solid --socials-icon-primary-color;
	border-radius: 4px;
	background-color: var(--primary-white-color);
	color: var(--socials-icon-primary-color);
}

.clients-link:hover,
.clients-link:focus {
	color: var(--accent-color);
	border-color: var(--accent-color);
}

/* -----------------Section clients----------------- */
/* -----------------Section footer----------------- */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background: var(--hero-footer-bcg);
}

.footer-container {
	display: flex;
	align-items: baseline;
}

.footer-owner {
	margin-right: 90px;
}

.footer .logo {
	color: var(--primary-white-color);
	/* margin-bottom: 20px; */
}

.footer-address {
	margin-top: 20px;
}

.address-text {
	font-family: inherit;
	font-size: 14px;
	line-height: calc(24 / 14);
	font-style: normal;
	color: var(--primary-white-color);

	display: inline-block;
	margin-bottom: 9px;

	transition: var(--animation-color);
}

.address-text:hover,
.address-text:focus {
	color: var(--accent-color);
}

.address-list {
	font-family: inherit;
	font-size: 14px;
	line-height: calc(24 / 14);
	font-style: normal;
	color: var(--address-list-color);

	display: inline-block;
	margin-bottom: 9px;

	transition: var(--animation-color);
}

.address-list:hover,
.address-list:focus {
	color: var(--accent-color);
}

.tel {
	margin-bottom: 0px;
}

.join {
	margin-right: 93px;
}

.join-title,
.subscribe-title {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;

	padding-bottom: 20px;

	color: var(--primary-white-color);
}

.join .socials-link {
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--primary-white-color);
	/* outline: 2px solid red;
	outline-offset: -2px; */

	transition: var(--animation-bcg);
}

.join .socials-icon {
	fill: currentColor;

	transition: var(--animation-color);
}

.socials-link:hover,
.socials-link:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.subscribe-container {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

/* .subscribe-form-field {
	flex-basis: 358px;
} */

.subscribe-field {
	width: 358px;
	height: 50px;

	padding-left: 16px;

	outline: unset;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	color: var(--primary-white-color);

	transition: border-color var(--animation-base);
}

.subscribe-field:hover,
.subscribe-field:focus {
	border-color: var(--btn-hero-accent-color);
	color: var(--accent-color);
}

.subscribe-field::placeholder {
	font-family: inherit;
	font-size: 16px;
	line-height: calc(20 / 16);
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.06em;

	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);

	min-width: 200px;
	min-height: 50px;
	/* padding: 10px 28px; */

	color: var(--primary-white-color);
	cursor: pointer;

	transition: var(--animation-bcg);
}

.subscribe-btn::after {
	content: "";
	display: inline-block;
	background-image: url(../images/icon-send.svg);
	width: 24px;
	height: 24px;
	margin-left: 10px;
	background-size: contain;
	fill: currentColor;
	/* outline: 1px solid red; */
}

.subscribe-btn:hover,
.subscribe-btn:focus {
	background: var(--btn-hero-accent-color);
}

/* -----------------Section footer----------------- */

/* -----------------Portfolio page----------------- */

.portfolio-filters {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	margin-bottom: 50px;
}

.portfolio-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	text-align: center;
	color: var(--primary-text-color);
	background: var(--section-team-bcg);
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.03em;

	padding: 6px 22px;

	transition: var(--animation-color), var(--animation-bcg);
}

.portfolio-btn.active {
	color: var(--primary-white-color);
	background: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	color: var(--primary-white-color);
	background: var(--accent-color);
}

.work-list {
	display: flex;
	flex-wrap: wrap;
	/* gap: 30px; */
}

.work-item {
	background: var(--primary-white-color);

	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;

	transition: var(--animation-box-shadow);
}

.work-item:nth-child(3n) {
	margin-right: 0;
}

.work-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.work-item:hover,
.work-item:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-thumb {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;

	transform: translateY(100%);

	width: 100%;
	height: 100%;
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	align-items: center;

	font-size: 18px;
	line-height: calc(28 / 18);
	color: var(--primary-white-color);
	background-color: rgba(33, 150, 243, 0.9);
	backdrop-filter: blur(3px);

	transition: var(--animation-overlay);
}

.work-item:hover .overlay,
.work-item:focus .overlay {
	transform: translateY(0%);
}

.work-caption {
	border-right: 1px solid var(--portfolio-box);
	border-bottom: 1px solid var(--portfolio-box);
	border-left: 1px solid var(--portfolio-box);

	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
}

.work-title {
	font-weight: 700;
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;

	margin-bottom: 4px;

	width: 322px;
}

.work-text {
	font-size: 16px;
	line-height: calc(30 / 16);
	color: var(--second-text-color);

	width: 322px;
}

/* -----------------Portfolio page----------------- */

/* -----------------Modal window----------------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	/* z-index: ; */

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.2);
	border: 1px solid #000000;
	backdrop-filter: blur(1px);

	transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);

	width: 528px;
	min-height: 581px;
	padding: 40px;

	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transition: transform 250ms linear, opacity 250ms linear;
}

.backdrop.is-hidden .modal {
	opacity: 0;
	transform: translateX(-50%) translateY(-70%);
}

.modal-btn {
	position: absolute;
	top: 8px;
	right: 8px;

	padding: 0;

	width: 30px;
	height: 30px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.modal-btm-close {
	fill: #000000;
}

.modal-btn:focus .modal-btm-close,
.modal-btn:hover .modal-btm-close {
	fill: var(--accent-color);
}

.modal-label {
	display: block;
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	text-align: center;
}

.modal-form-group {
	margin-bottom: 20px;
}

.modal-form-label {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;

	color: var(--second-text-color);
}

.modal-form-wrapper {
	position: relative;
	margin-bottom: 10px;
}

.modal-form-field {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	padding-right: 42px;

	border: 1px solid var(--border-modal-color);
	border-radius: 4px;

	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline var(--animation-base);
}

.modal-form-field:hover,
.modal-form-field:focus {
	outline-color: var(--accent-color);
	color: var(--accent-color);
}

.modal-form-icon {
	position: absolute;
	top: 25%;
	left: 20px;

	transform: translateX(-20%);

	transition: fill var(--animation-base);
}

.modal-form-field:focus + .modal-form-icon {
	fill: var(--accent-color);
}

.modal-form-message {
	display: block;
	width: 100%;
	height: 120px;
	padding: 12px 16px;

	resize: none;

	border: 1px solid var(--border-modal-color);
	border-radius: 4px;

	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline var(--animation-base);
}

.modal-form-message:hover,
.modal-form-message:focus {
	outline-color: var(--accent-color);
	color: var(--accent-color);
}

.modal-form-message::placeholder {
	font-family: inherit;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.modal-form-btn {
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;

	min-width: 200px;
	min-height: 50px;

	color: var(--primary-white-color);
	cursor: pointer;

	transition: var(--animation-bcg);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
	background: var(--btn-hero-accent-color);
}

.modal-form-agreement {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	margin-bottom: 30px;
}

.modal-form-checkbox {
	appearance: none;
	width: 16px;
	height: 15px;

	outline: 2px solid transparent;
	outline-offset: -2px;
	border: 2px solid var(--primary-text-color);
	border-radius: 2px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 0;
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");

	transition: background-size var(--animation-base), background-color var(--animation-base),
		outline-color var(--animation-base);
}

.modal-form-checkbox:checked {
	outline-color: var(--accent-color);
	background-color: var(--accent-color);
	background-size: 11px 8px;
}

.modal-form-agreement-descr {
	font-size: 14px;
	line-height: calc(24 / 14);

	color: var(--second-text-color);

	user-select: none;
}

.modal-form-agreement-link {
	color: var(--accent-color);
	text-underline-offset: 3px;
	/* text-underline-position: under; */
}

.modal-form-btn {
	display: block;
	margin: 0 auto;
}

/* -----------------Modal window----------------- */
